body, html{
  width:100%;
  height:100%;
  overflow:hidden;
  margin:0;
  color:#eee;
}

* {
  position:relative;
  box-sizing:border-box;
}
body {
  background:#1d1d1d;
  font-family:sans-serif;
}

h2 {
  position:absolute;
  top:20px;
  text-align:center;
  font-weight:normal;
}

.demo {
  width:100%;
  height:100%;
  background:black;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;

}
.box {
  width:200px;
  height:200px;
  background:dodgerblue;
}

.dot {
  position:absolute;
  background: rgba(255, 20, 20, 0.6);
  width:20px;
  height:20px;
  border-radius:50%;
  transform:translate(-50%, -50%);
  z-index:100;
  
}

.nav {
  color:#ccc;
  font-size:1em;
  line-height:1em;
  display:flex;
  align-items:center;
  justify-content:space-around;
  background:#1d1d1d;
  width:80%;
  padding:20px;
  position: absolute;
  bottom:20px;
}

.output {
  width:50%;
  text-align:center;
}

.output span {
  color:#d0782a;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

label {
  white-space:nowrap;
}

@media screen and (max-width: 400px) {
  label:first-of-type {
    display:block;
    margin-bottom:10px;


  }
}